input[type=submit] {
  font-weight: 600; }

input {
  border: none;
  border-bottom: 1px solid #ccc;
  color: black;
  width: 100%;
  padding: 8px; }

textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  color: black;
  width: 100%;
  padding: 8px; }
