.about-img-1 {
  background-image: url('../img/image13.png');
  background-size: cover;
  height: 50vh;
}
.about-img-2 {
  background-image: url('../img/image14.png');
  background-size: cover;
  height: 50vh;
}
.about-img-3 {
  background-image: url('../img/image15.png');
  background-size: cover;
  height: 50vh;
}

.team {
  div {
    overflow: hidden;
  }
}

@media (min-width: 576px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .about-img-1 {
    background-image: url('../img/image13.png');
    background-size: cover;
    height: 90vh;
  }
  .about-img-2 {
    background-image: url('../img/image14.png');
    background-size: cover;
    height: 90vh;
  }
  .about-img-3 {
    background-image: url('../img/image15.png');
    background-size: cover;
    height: 90vh;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
