#hamburger {
  font-size: 1.3em;
}
.tickets {
  color: white!important;
  background-color: black;
  padding: 24px;
}

.show {
  height: 100vh!important;
  transition: 0.3s ease-in;
}

#menu {
  z-index: 10;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in;

  .container-fluid {
    i {
      font-size: 1.3em;
    }

    a {
      font-size: 20px;
      color: black;
      font-weight: 600;
    }

    .row {
      min-height: 100vh;
    }
  }
}
